@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face{
    font-family: 'mm';
    font-weight: bold;
    src: url('../font/mmrtext.ttf');
}
@font-face{
    font-family: 'mmbold';
    font-weight: bolder;
    src: url('../font/mmrtextb.ttf');
}

:root{
    --primary:#2CD1EE;
    --primarydarker:#0d9db6;
    --secondary:#707070;
    --secondarysoft:#616161;
    --light:#ffffff;
    --dark:#000000;
    --br:5px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', 'mmbold';
    color: var(--secondary);
    /* sans-serif; */
}
.divider{
    background-color: black;
    height: 2px;
}
.app{
    width: 700px;
    margin: 100px auto;
}
.output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.brand-container{
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
}
.brand{
    margin-left: 10px;
    font-size: 30px;
    font-weight:bolder;
}
.result-container{
    
}
.result{
    font-size: 40px;
}
.calc{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.container{
    width: 150px;
}
.input,.from,.to{
    width: 100%;
    padding: 5px;
    border-radius: var(--br);
    border: 1px solid var(--secondary);
}
.input{
    text-align: right;
}
input:focus{
    outline: none;
}
.from{
    appearance: none;
}
.to{
    appearance: none;
}
.container label{
    display: block;
    margin-bottom: 10px;
}
.calc-btn{
    width: 100%;
    height: 100%;
    border-radius: var(--br);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--light);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}
.calc-btn:active{
    background-color: var(--primarydarker);
}
.history{
    width: 100%;
    /* border-collapse: collapse; */
    margin-top: 30px;
}
.history td, .history th{
    /* border: 1px solid white; */
    padding: 8px;
    border-radius: 5px;
}
.history-list td{
    background: #dfdfdf;
}
.history td:hover{
    background-color: #f3eded;
    border-radius: 5px;
}
.history th{
    background-color: var(--primary);
    color: var(--light);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.history th:last-child{
    text-align: right;
}

#history-list td:last-child{
    text-align: right;
}
#history-list td{
    text-align: center;

}
.mode-change{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: black;
}
.mode-change .fas{
    color: white;
}
@media screen and (max-width:480px){
    .app{
        width: 96%;
        margin: 30px auto;
    }
    .output{
        flex-flow: column;
        align-items: flex-end;
    }
    .brand-container{
        width: 100%;
    }
    .result-container{

    }
    .calc{
        flex-wrap: wrap;
    }
    .container{
        width: 100%;
    }
    .from-container,.to-container{
        margin-top: 10px;
        width: 48%;
        margin-bottom: 15px;
    }
    .calc-btn{
        padding: 10px 0;
    }
    .input,.from,.to{
        padding: 15px 5px;
    }
    .input{
        font-size: 20px;
    }
    .from{
        font-size: 15px;
    }
    .to{
        font-size: 15px;
    }
}






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}